name: Build and Release

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
    tags: [ "v*" ]

jobs:
  build:
    runs-on: windows-latest
    
    permissions:
      contents: write 

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore PCL_CE_Patcher.csproj

    # 1. -p:SelfContained=false : 强制依赖框架 (体积小，需用户装运行时)
    # 2. -p:IncludeNativeLibrariesForSelfExtract=true : 把 wpfgfx 等原生库也塞进 EXE 里
    # 3. -p:DebugType=None : 不生成 pdb 调试文件
    # 4. -p:DebugSymbols=false : 禁止调试符号
    - name: Publish Patcher
      run: |
        dotnet publish PCL_CE_Patcher.csproj -c Release -r win-x64 --self-contained false -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true -p:DebugType=None -p:DebugSymbols=false -o ./output

    # 打包步骤
    - name: Package
      run: |
        copy LICENSE ./output/
        copy ThirdPartyNotices.txt ./output/
        # 注意：这里我们只把 output 目录下的东西打包
        # 这样生成的 zip 解压后就是 exe 和说明文件，没有多余目录
        powershell Compress-Archive -Path ./output/* -DestinationPath PCL_CE_Patcher.zip

    # 上传构建产物 (给 Action 页面下载用的)
    # GitHub Action 下载 Artifact 时会自动套一层 zip，这是平台特性，无法消除
    # 所以你下载到的会是 Artifact.zip -> PCL_CE_Patcher.zip -> 内容
    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: PCL_CE_Patcher_Release_Package
        path: PCL_CE_Patcher.zip
        retention-days: 90

    # 发布 Release (只有打 Tag 时执行)
    - name: Upload to Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: PCL_CE_Patcher.zip